@font-face {
  font-family: 'Amble';
  src: url('/fonts/amble-regular-webfont.eot');
  src: url('/fonts/amble-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('/fonts/amble-regular-webfont.woff') format('woff'),
       url('/fonts/amble-regular-webfont.ttf') format('truetype'),
       url('/fonts/amble-regular-webfont.svg#ambleregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AmbleBold';
  src: url('/fonts/Amble-Bold-webfont.eot');
  src: url('/fonts/Amble-Bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('/fonts/Amble-Bold-webfont.woff') format('woff'),
       url('/fonts/Amble-Bold-webfont.ttf') format('truetype'),
       url('/fonts/Amble-Bold-webfont.svg#amblebold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AmbleLight';
  src: url('/fonts/Amble-Light-webfont.eot');
  src: url('/fonts/Amble-Light-webfont.eot?#iefix') format('embedded-opentype'),
       url('/fonts/Amble-Light-webfont.woff') format('woff'),
       url('/fonts/Amble-Light-webfont.ttf') format('truetype'),
       url('/fonts/Amble-Light-webfont.svg#amblelight') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AmbleLightItalic';
  src: url('/fonts/Amble-LightItalic-webfont.eot');
  src: url('/fonts/Amble-LightItalic-webfont.eot?#iefix') format('embedded-opentype'),
       url('/fonts/Amble-LightItalic-webfont.woff') format('woff'),
       url('/fonts/Amble-LightItalic-webfont.ttf') format('truetype'),
       url('/fonts/Amble-LightItalic-webfont.svg#amblelight_italic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'roadwayregular';
  src: url('/fonts/roadway_-webfont.eot');
  src: url('/fonts/roadway_-webfont.eot?#iefix') format('embedded-opentype'),
       url('/fonts/roadway_-webfont.woff') format('woff'),
       url('/fonts/roadway_-webfont.ttf') format('truetype'),
       url('/fonts/roadway_-webfont.svg#roadwayregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

html {
  -webkit-font-smoothing: antialiased;
  font-family: 'Amble', Helvetica, sans-serif;
  background-image: url('/images/bg.png');
  color: #333;
}

body {
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  margin: 0;
  color: inherit;
}

p {
  margin: 0;
  color: inherit;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  /*text-decoration: none;*/
  color: inherit;
}

b {
  font-weight: normal;
  font-family: 'AmbleBold';
}

h1.logo {
  font-family: 'AmbleBold';
}

input {
  font-family: 'Amble';
  font-size: 14px;
  -webkit-appearance: none;
  border: 2px #009974 solid;
  border-radius: 4px;
  padding: 4px;
}

.header {
  position: fixed;
  background: #009974;
  background: rgba(0,153,116,0.95);
  padding: 5px 0;
  color: #fff;
  width: 100%;
  box-shadow: 0 2px 10px #0C7C61;
}

.header .header-inner {
  max-width: 960px;
  padding: 0 20px;
  margin: 0 auto;
}

.header .header-inner h1 {
  display: inline-block;
  vertical-align: middle;
  float: left;
}

.header .header-inner h2 {
  float: right;
  font-size: 14px;
  margin-top: 11px;
}

.header .header-inner a.button {
  border-radius: 4px;
  background: #00CF9D;
  padding: 5px 10px;
  text-decoration: none;
  box-shadow: 0 3px 0 #0C7C61;
  cursor: pointer;
}

.header .header-inner a.button:active{
  position: relative;
  top: 1px;
  box-shadow: 0 1px 0 #0C7C61;
}

.splash {
  background: #009974;
  background-image: url('/images/splash.png');
  background-size: cover;
  color: #fff;
}

.splash .splash-inner {
  max-width: 960px;
  padding: 60px 20px;
  padding-top: 119px;
  margin: 0 auto;
  text-align: center;
}

.splash .splash-inner h2 {
  font-family: 'AmbleLight';
  font-size: 48px;
  text-shadow: 0 2px 3px #0C7C61;
}

.splash .splash-inner h3 {
  font-family: 'AmbleLight';
  padding-bottom: 30px;
  text-shadow: 0 2px 3px #0C7C61;
}

.splash .splash-inner .button {
  font-size: 30px;
  border-radius: 4px;
  background: #00CF9D;
  padding: 5px 40px;
  box-shadow: 0 3px 0 #0C7C61;
  cursor: pointer;
  text-decoration: none;
}

.info .info-inner {
  max-width: 960px;
  padding: 40px 20px;
  margin: 0 auto;
  text-align: center;
}

.info .info-inner .column {
  display: inline-block;
  vertical-align: top;
  width: 33%;
}

.info .info-inner .column img {
  width: 80%;
}

.info .info-inner .column p {
  padding: 10px 30px;
}

.splash .splash-inner .button:active{
  position: relative;
  top: 1px;
  box-shadow: 0 1px 0 #0C7C61;
}

input[type="submit"] {
  -webkit-appearance: none;
  border: none;
  font-size: 18px;
  border-radius: 4px;
  background: #00CF9D;
  padding: 5px 40px;
  box-shadow: 0 3px 0 #0C7C61;
  color: #fff;
  cursor: pointer;
}

.hacklets,
.hacklets-new,
.loadbalancer,
.signup {
  max-width: 960px;
  padding: 60px 20px;
  padding-top: 119px;
  margin: 0 auto;
  text-align: center;
}

.loadbalancer .CodeMirror {
  border: 2px #009974 solid;
  border-radius: 4px;
  text-align: left;
}

.loadbalancer h1 {
  text-align: center;
}

.center {
  margin: auto;
}

.hacklets .hacklet {
  background: #ccc;
  border-radius: 4px;
  padding: 10px;
  width: 80%;
  margin: 0 auto;
}

.hacklets .hacklet span {
  padding: 0 30px;
}

.hacklets-new .section .block {
  display: inline-block;
  background: #ccc;
  border-radius: 4px;
  padding: 10px;
  margin: 5px;
  cursor: pointer;
}

.hacklets-new .section .block:hover {
  background: #aaa;
}

.hacklets-new .section .block.selected {
  color: #fff;
  background: #009974;
}

.hacklets-new .section .block.selected:hover {
  background: #0C7C61;
}

.hacklets-new .button {
  -webkit-appearance: none;
  border: none;
  border-radius: 4px;
  background: #00CF9D;
  padding: 5px 40px;
  box-shadow: 0 3px 0 #0C7C61;
  color: #fff;
  cursor: pointer;
  position: relative;
  top: 20px;
  font-size: 28px;
}
