<% layout('/layout') -%>
<% stylesheet('/style.css') -%>
<!DOCTYPE HTML>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>404 ERROR - PAGE NOT FOUND!!1!1</title>
    <script type="text/javascript">
      function delayer(){
        window.location = "/"
      }
    </script>
    <style type="text/css">
      #foo {
        padding-top: 70px;
        margin: auto;
        width: 500px;
      }
    </style>
  </head>
  <body onLoad="setTimeout('delayer()', 3000)">
    <div id="foo">
      <h1>BO BEEP BOOP, YOU BROKE ME. :[</h1>
      <br />
      <h1>404 ERROR - PAGE NOT FOUND!!1!1</h1>
      <br />
      <h1>REDIRECTING......... NOW!</h1>
    </div>
  </body>
</html>