<% layout('/layout') -%>
<% stylesheet('/style.css') -%>
<% script('/jquery.js') -%>
<% script('/main.js') -%>

<div class="hacklets">
  <h1>Hacklets</h1>
  <br>
  <h2 class="none">It doesn't look like you have any hacklets! <a href="/hacklets/new">Create one now!</a></h2>
  <div class="hacklet"><span>Ubuntu 13.10 x64: Node.js 0.10</span><span>168.10.38.234</span><span>Active</span><span>512MB</span><span>20GB</span></div>
</div>

<script type="text/javascript">
  if(window.location.hash == '')
    $('.hacklet').css('display', 'none');
  else
    $('.none').css('display', 'none');
</script>