<div class="header">
  <div class="header-inner">
    <a href="/"><h1 class="logo">HackShop</h1></a>
    <% if(user) { %>
    <h2><ul><li><a href="/hacklets">Hacklets</a></li></ul></h2>
    <% } else { %>
    <h2><a href="/signin">Sign in</a></h2>
    <% } %>
  </div>
</div>