<% layout('/layout') -%>
<% stylesheet('/style.css') -%>
<% script('/jquery.js') -%>
<% script('/main.js') -%>

<div class="splash">
  <div class="splash-inner">
    <h2>Create and deploy "hacklets."</h2>
    <h3>We quickly construct cloud instances with a specific web stack so that you don't have to.</h3>
    <a href="/signup" class="button">Join now</a>
  </div>
</div>
<div class="info">
  <div class="info-inner">
    <div class="column">
      <img src="/images/select.png">
      <h2>1. Select</h2>
      <p>Choose the exact specifications of your desired web app.</p>
    </div>
    <div class="column">
      <img src="/images/init.png">
      <h2>2. Initialize</h2>
      <p>After downloading the initializing archive, execute the hack_init script to setup your environment.</p>
    </div>
    <div class="column">
      <img src="/images/deploy.png">
      <h2>3. Deploy</h2>
      <p>Just git push to the newly added remote repo to deploy with builtin version control.</p>
    </div>
  </div>
</div>