<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>HackShop</title>
    <meta name="description" content="A cloud platform as a service that allows the user to create cloud instances to deploy web customizable applications.">
    <meta name="author" content="Robin Joseph">
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <link rel="icon" type="image/png" href="/images/icon.png">
    <%-scripts%>
    <%-stylesheets%>
  </head>
  <% include header -%>
  <body>
    <%- body %>
  </body>
</html>