<% layout('/layout') -%>
<% stylesheet('/style.css') -%>
<% stylesheet('/codemirror.css') -%>
<% script('/jquery.js') -%>
<% script('/main.js') -%>
<% script('/codemirror.js') -%>

<div class="loadbalancer" id="loadbalancer">
  <h1>Edit the Load Balancer</h1>
  <br>
  <div id="container"></div>
  <br>
  <form method="post" action="/loadbalancer/edit">
    <input type="submit" value="Confirm">
  </form>
  <br>
  <br>
  <h2>Now, make sure your domain DNS points to your load balancer's IP address.</h2>
  <h2>Your load balancer's IP address is: <b>168.10.38.234</b>.</h2>
</div>

<script type="text/javascript">
  var myCodeMirror = CodeMirror(document.getElementById('container'), {
    value: "global\nmaxconn 65536\nnbproc 1\nspread-checks 5\ndebug\ndaemon\nlog 127.0.0.1 local0\n\ndefaults\n\tlog     global\n\tmode    http\n\toption  httplog\n\toption  dontlognull\n\tbalance roundrobin\n\toption abortonclose\n\toption forwardfor\n\toption redispatch\n\ttimeout client 6s\n\ttimeout check 5s\n\ttimeout tunnel 1h\n\ttimeout server 30000\n\ttimeout connect 4000\n\tstats enable\n\tstats uri /lbstats\n\tstats realm Haproxy\ Statistics\n\tstats auth novation:nm2012!\n\tretries 3\n\tmonitor-uri /lbmonitor\n\terrorfile 503 /etc/haproxy/errors/503.http\n\toption  redispatch\n\tmaxconn 2000\n\tcontimeout      5000\n\tclitimeout      50000\n\tsrvtimeout      50000\n\nfrontend http\n\tbind *:80\n\tmode http\n\ttimeout client 5s\n\tacl is_breezy_mountains hdr_dom(host) -i breezymountains.com\n\tacl is_roaring_oceans    hdr_dom(host) -i roaringoceans.com\n\n\tuse_backend apps_breezy_mountainsif is_breezy_mountains\n\tuse_backend apps_roaring_oceansif is_roaring_oceans\n\nfrontend https\n\ttimeout client 1h\n\tmode http\n\toption httpclose\n\toption forwardfor\n\treqadd X-Forwarded-Proto:\\ https\n\tbind *:443 ssl crt /etc/haproxy/certs\n\tacl is_breezy_mountains hdr_dom(host) -i breezymountains.com\n\tacl is_roaring_oceans    hdr_dom(host) -i roaringoceans.com\n\n\tuse_backend apps_breezy_mountainsif is_breezy_mountains\n\tuse_backend apps_roaring_oceansif is_roaring_oceans\n\nbackend apps_breezy_mountains\n\tmode http\n\toption httpchk HEAD /healthcheck HTTP/1.1\\r\\nHost:\\ breezymountains.com\n\tcookie JSESSIONID insert indirect nocache\n\tserver breezy_mountains1 198.199.104.123:80 cookie jsessionid0 weight 1 maxconn 1024 check\n\tserver breezy_mountains2 198.199.104.123:80 cookie jsessionid0 weight 1 maxconn 1024 check\n\nbackend apps_roaring_oceans\n\tmode http\n\toption httpchk HEAD /healthcheck HTTP/1.1\\r\\nHost:\\ roaringoceans.com\n\tcookie JSESSIONID insert indirect nocache\n\tserver roaringoceans1 198.199.104.123:80 cookie jsessionid0 weight 1 maxconn 1024 check\n\tserver roaringoceans2 198.199.104.123:80 cookie jsessionid0 weight 1 maxconn 1024 check"
  });
</script>