<% layout('/layout') -%>
<% stylesheet('/style.css') -%>
<% script('/jquery.js') -%>
<% script('/main.js') -%>

<div class="signup">
  <h1>Sign Up</h1>
  <form method="post" action="/signup">
    <input type="text" name="user[email]" placeholder="Enter a Valid Email" required>
    <br />
    <input type="password" name="user[password]" placeholder="Enter a Password">
    <br />
    <input type="password" name="user[password_confirm]" placeholder="Confirm Password">
    <br />
    <input type="text" name="user[username]" placeholder="Enter a Username">
    <br />
    <input type="submit" value="Submit">
  </form>
</div>