<% layout('/layout') -%>
<% stylesheet('/style.css') -%>
<% script('/jquery.js') -%>
<% script('/main.js') -%>

<div class="signup">
  <center><h1>Sign In</h1></center>
  <form method="post" action="/signin">
    <input type="text" name="user[login]" placeholder="Username:" required>
    <br />
    <input type="password" name="user[pass]" placeholder="Password:" required>
    <br />
    <input type="submit" value="Submit">
  </form>
</div>