doctype 5
html(lang="en")
  head
    meta(name='author',content='Robin Joseph')
    meta(name='viewport',content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
  body
    block content