<% layout('/layout') -%>
<% stylesheet('/style.css') -%>
<% script('/jquery.js') -%>
<% script('/main.js') -%>

<div class="hacklets-new">
  <h1>Create Hacklet</h1>
  <br>
  <form method="post" action="/hacklets/new">
    <input type="text" name="name" placeholder="App Name">
    <br>
    <br>
    <div class="section">
      <h2>Size</h2>
      <div class="block selected">
        <p>512MB / 1 CPU</p>
        <p>20GB SSD Disk</p>
        <p>1TB Transfer</p>
      </div>
      <div class="block">
        <p>1GB / 1 CPU</p>
        <p>30GB SSD Disk</p>
        <p>2TB Transfer</p>
      </div>
      <div class="block">
        <p>2GB / 2 CPUs</p>
        <p>40GB SSD Disk</p>
        <p>3TB Transfer</p>
      </div>
      <br>
      <div class="block">
        <p>4GB / 2 CPUs</p>
        <p>60GB SSD Disk</p>
        <p>4TB Transfer</p>
      </div>
      <div class="block">
        <p>8GB / 4 CPUs</p>
        <p>80GB SSD Disk</p>
        <p>5TB Transfer</p>
      </div>
      <div class="block">
        <p>16GB / 8 CPUs</p>
        <p>160GB SSD Disk</p>
        <p>6TB Transfer</p>
      </div>
    </div>
    <br>
    <div class="section">
      <h2>Region</h2>
      <div class="block">
        <p>New York 1</p>
      </div>
      <div class="block selected">
        <p>New York 2</p>
      </div>
      <div class="block">
        <p>San Francisco</p>
      </div>
    </div>
    <br>
    <div class="section">
      <h2>Image</h2>
      <div class="block selected">
        <p>Ubuntu 13.10 x64</p>
      </div>
      <div class="block">
        <p>Ubuntu 13.10 x32</p>
      </div>
      <div class="block">
        <p>Ubuntu 13.04 x64</p>
      </div>
      <div class="block">
        <p>Ubuntu 13.04 x32</p>
      </div>
      <br>
      <div class="block">
        <p>CentOS 6.4 x64</p>
      </div>
      <div class="block">
        <p>CentOS 6.4 x32</p>
      </div>
      <div class="block">
        <p>Fedora 19 x64</p>
      </div>
      <div class="block">
        <p>Fedora 19 x32</p>
      </div>
    </div>
    <br>
    <div class="section">
      <h2>Web Framework</h2>
      <div class="block selected">
        <p>Node.js 0.10</p>
      </div>
      <div class="block">
        <p>Ruby on Rails 4.0</p>
      </div>
      <div class="block">
        <p>Django 1.6</p>
      </div>
    </div>
    <span class="create button">Create</span>
    <input type="submit" value="Create" style="display:none;">
  </form>
</div>

<script type="text/javascript">
  $('.create.button').on('click', function(args) {
    window.open('/zips/node0.10.zip','_blank');
    $('form').submit();
  });
</script>